*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow-color:#FFCD01;
}
body{
    font-family: monospace;
}
.clear{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}
header{
    width: 100%;
    height: 75px;
    padding-right: 50px;
}
header h3{
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
    letter-spacing: -3px;
}
header h3::first-letter{
    color: coral;
}
header h3 span{
    color: coral;
}
header ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
    /* display: flex; */
}
header li{
    display: inline-block;
}
header ul li a{
    /* color: var(--main-color); */
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
header ul li a:hover{
    color: red
}
header button {
    margin-left: 10px;
    background-color: var(--yellow-color);
    border-radius: 12px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}
header button.join{
    border: none;
    background-color: transparent;
}
header button.join:hover{
    background-color: var(--yellow-color);
}

/* End Of Nav bar */
.landing .container{
    width: 80%;
    height:calc(100vh - 75px);
    background-color: white;
    background-image: url(../images/b.jpg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative; 
    /* relative pos. for child div */
}
.landing .container .info h2{
    font-size: 50px;
    color: rgb(34, 34, 34);
    /* display: inline-block; */
    padding-top: 100px;
    margin-bottom: 20px;    
    letter-spacing: -2px;
}
.landing .container .info i{
    color: grey;
    margin-right: -18px;
    position: relative;
    z-index: 2;
}
.landing .container .info input{
    width: 300px;
    padding: 20px;
    border: none;
    margin-right: 0;
    font-size: 15px;
    color: orangered;
}
/* .landing .container .info input::before{
    content: "\f007";
    font-family: "Font Awesome 5 Free"; 
    font-size: 50px;
    color: black;
} */
.landing .container input:focus{
    outline: none;
    position: relative;
    z-index: 3;
}
.landing .container .info button{
    font-size: 15px;
    width: 150px;
    padding: 20px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--yellow-color);
    cursor: pointer;
}
.landing .container .contact{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--yellow-color);
    color: black;
    padding: 20px;
}
.landing .container .contact span{
    margin-right: 50px;
    font-size: 18px;
    cursor :progress;
}
.landing .container .contact span i{
    color: white;
    padding: 0 15px;
}

/* Company Statistics */
.company-statistics .container{
    margin-top: 150px;
    height: 400px;
}
/* leftside section */
.company-statistics .container .leftside{
    width: 45%;
    float: left;
    padding: 10px;
}
.company-statistics .container .leftside h2{
    line-height: 1.2;
    letter-spacing: 4px;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.company-statistics .container .leftside p{
    color: grey;
    font-size: 15px;
    margin-bottom: 30px;
}
/* rightside section */
.company-statistics .container .rightside{
    float: right;
    width: 45%;
}
.company-statistics .container .rightside div{
    /* width: 150px; */
    /* background-color: red; */
    height: 150px;
    border-radius: 5px;
    /* padding: 50px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    */
    line-height: 5;
    text-align: center;
}
.company-statistics .container .rightside div h1{
    color: var(--yellow-color);
    font-weight: 900;
    font-family: cursive;

}
/* .company-Stat .container .rightside div p{
  
    margin-left: 30%;
} */

.company-statistics .container .rightside div span p{
    margin-top: -85px;
}

.company-statistics .container .rightside .topdiv{
    width: 100%;
    margin-bottom: 10%;
}
.company-statistics .container .rightside .topdiv .one{
    float: left;
    width: 40%;
    background-color: #f0eeee;
}
.company-statistics .container .rightside .topdiv .two{
    float: left;
    width: 40%;
    margin-left: 15%;
    background-color: #f0eeee;
}
.company-statistics .container .rightside .bottomdiv{
    width: 100%;
}
.company-statistics .container .rightside .bottomdiv .three{
    float: left;
    width: 40%;
    background-color: #f0eeee;
}
.company-statistics .container .rightside .bottomdiv .four{
    float: left;
    width: 40%;
    margin-left: 15%;
    background-color: #f0eeee;
}

/* start Apartment section */
.ApartmentSection{
    background-color: #f0eeee;
    padding: 50px 0;
}
.ApartmentSection .container h1{
    padding: 50px 0;
}
.ApartmentSection .container .images-container .card{
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: white;
    padding-bottom: 20px;
}
.ApartmentSection .container .images-container  .card img{
    width: 100%;
}
.ApartmentSection .container .images-container  .card h2{
    padding: 10px;
    letter-spacing: -2px;
}
.ApartmentSection .container .images-container  .card .span1{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--yellow-color);
}
.ApartmentSection .container .images-container  .card .span2, .span3{
    padding: 10px;
    font-size: 15px;
    color: gray;
}
.ApartmentSection .container .images-container .card .span2{
    margin-left: 25%;    
}


.ApartmentSection .container  i{
    color: grey;
    margin-right: -18px;
    position: relative;
    z-index: 2;
}
.ApartmentSection .container  input{
    width: 300px;
    padding: 20px;
    border: none;
    margin-right: 0;
    font-size: 15px;
    color: orangered;
    border-radius: 8px 0 0 8px;
}
.ApartmentSection .container input:focus{
    outline: none;
    position: relative;
    z-index: 3;
}
.ApartmentSection .container  button{
    font-size: 15px;
    width: 150px;
    padding: 20px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--yellow-color);
    cursor: pointer;
}
.ApartmentSection .container button:last-child{
    background-color: white;
    width: 250px;
    margin-left: 50px;
    border-radius: 8px;

}
/*How It Work Section*/
.howitwork{
    padding: 50px 0;
    margin-bottom: 50px;
}
.howitwork .container h2{
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 10px;
}
.howitwork .cardcontainer .card{
    margin-top: 50px;
    margin-right: 3%;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 2px 2px 22px 0px gray;
    width: 30%;
    height: 350px;
    float: left;
    overflow: hidden;
}
.howitwork .cardcontainer .card:hover{
    background-color: var(--yellow-color);
    color: white;
}
.howitwork .cardcontainer .card h1{
    font-family: cursive;
    font-size: 100px;
    margin-top: -50px;
    margin-left: -80%;
}
.howitwork .cardcontainer .card h4{
    font-family: cursive;
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
}
.howitwork .cardcontainer .card p{
    line-height: 1.5;
    padding: 0 50px;
    padding-bottom: 50px;
    text-align: left;
}
.howitwork .cardcontainer .card a{
    font-size: 15px;
    text-decoration: none;
    border-bottom: 2px solid;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.howitwork .cardcontainer .card:hover a{
    color: white;
}
/*Start of Services Content*/
.services .container h1{
    font-size: 40px;
}
.services .container p{
    color: gray;
    padding: 10px 0;
}
.services img{
    margin-left: 5%;
    margin-top: 50px;
    width: 40%;
    float: left;
}
.services .container .content{
    width: 50%;
    float: right;
    margin-top: 50px;
}
.services .container .content div{
    margin-bottom: 40px;
    width: 400px;
}
.services .container .content div h2{
    letter-spacing: -1.5px;
}
/* start our agents */
.ourAgent{
    background-color: #f0eeee;
    padding: 50px 0;
}
.ourAgent .container h1{
    font-size: 30px;
    letter-spacing: -1px;
}
.ourAgent .container p{
    color: gray;
    padding: 10px 0;
    width: 300px;
}
.ourAgent .container .card{
    width: 31%;
    float: left;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 2px 22px 0px gray;
}

.ourAgent .container .card1 .image :hover{
    transform: rotate(-3deg) scale(1.1);
}
.ourAgent .container .card3 .image :hover{
    transform: rotate(3deg) scale(1.1);
}
.ourAgent .container .card .image img{
    width: 100%;
}
.ourAgent .container .card h2{
    padding: 10px;
    /* text-align: center; */
}
.ourAgent .container .card span{
    padding: 10px;
    color: var(--yellow-color);
    font-weight: bold;
}
.ourAgent .container .card a i{
    margin-left: 20px;
    font-size: 18px;
    color: black;
}
.ourAgent .container .card a i.fa-facebook{
    margin-left: 25px;
}
.ourAgent .container .card a i.fa-facebook:hover{
    color: blue;
}
.ourAgent .container .card a i.fa-twitter:hover{
    color: cornflowerblue;
}
.ourAgent .container .card a i.fa-instagram:hover{
    color: rgb(248, 37, 0);
}
/* start portfolio section */
.portfolio{
    padding: 50px 0;
}
.portfolio .container .first .image{
    position: relative;
}
.portfolio .container .first .image::after{
    position: absolute;
    content: "Cairo, Egypt";
    font-weight: bold;
    padding: 10px 15px;
    top: 230px;
    left: 150px;
    background-color: var(--yellow-color);
}
.portfolio .container .first img{
    width: 40%;
    height: 250px;
    margin-right: 5%;
    float: left;
}

.portfolio .container .first .content{
    padding-top: 100px;
    float: right;
    width: 50%;

}
.portfolio .container .second .image{
    position: relative;
}
.portfolio .container .second .image::after{
    position: absolute;
    content: "KFS, Egypt";
    font-weight: bold;
    padding: 10px 35px;
    top: 280px;
    left: 740px;
    background-color: var(--yellow-color);
}
.portfolio .container .second img{
    width: 40%;
    height: 250px;
    margin-right: 20%;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.portfolio .container .second .content{
    padding-top: 100px;
    float: left;
    width: 40%;
}
.portfolio .container .third img{
    width: 40%;
    height: 250px;
    margin-right: 5%;
    float: left;
}
.portfolio .container .third .content{
    padding-top: 70px;
    float: right;
    width: 50%;
}

.portfolio .container .content h2{
    padding-bottom: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}
.portfolio .container .content p{
    width: 70%;
}
.portfolio .container .content button{
    padding: 20px 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-family: monospace;
}
.portfolio .container .content button:hover{
    background-color: teal;
}

/*Start Footer Section*/
footer{
    padding: 50px 0;
    background-color: teal;
}
footer .container{
    width: 70%;
}
footer .container h1{
    display: inline;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
footer .container input{
    float: right;
    padding: 15px;
    width: 350px;
    border: none;
}
footer input:focus{
    outline: none;
}
footer hr{
    margin: 30px;
    /* width: calc(100% + 30px); */
}
footer .container .Luxestate{
    float: left;
    width: 20%;
    color: white
}
footer .container .content{
    color: var(--yellow-color);
}
footer .container a{
    color: white;
    padding: 15px 0;
    display: block;
}
footer .container .Luxestate h2{
    margin-bottom: 20px;
}
footer .container .Luxestate2{
    float: left;
    width: 15%;
    margin-left: 15%;
}
footer .container .Company{
    float: left;
    width: 15%;
}

footer .container .Project{
    float: left;
    width: 15%;
}
footer .container .Services{
    float: left;
    width: 15%;
}



